@{
    ViewData["Title"] = "Салон Красоты";
}

@section Links {
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Supplier" asp-action="Login">Вход</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Supplier" asp-action="Registration">Регистрация</a>
            </li>
        </ul>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p> Программа Салон красоты предназначена для ведения учета выдаваемых поставщиками косметики. Поставщики могут управлять запасами косметики на складах. Программа предоставляет возможность получения отчетов по выдаваемой косметики для поставщиков</p>
</div>